<a href="https://colab.research.google.com/github/redsoil/Df_Ordering/blob/main/Untitled6_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

In [2]:
uploaded = files.upload()

Saving myDataFrame3.csv to myDataFrame3.csv

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('myDataFrame3.csv')

In [5]:
df

,Unnamed: 0.1,Unnamed: 0,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Min_Salary,Max_Salary,Average_Salary,State
0,0,0,data scientist,3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,111,181,146.0,NY
1,1,1,data scientist,4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,111,181,146.0,NY
2,3,3,analyst,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,111,181,146.0,NJ
3,4,4,data scientist,3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,111,181,146.0,NY
4,5,5,data scientist,2.9,IFG Companies\n2.9,"New York, NY",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,111,181,146.0,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4886,5495,5881,other,3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),38,64,51.0,OH
4887,5496,5882,other,4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable,47,89,68.0,OH
4888,5497,5883,other,4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,66,113,89.5,OH
4889,5498,5886,analyst,4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),67,111,89.0,OH
4890,5499,5887,analyst,3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable,42,76,59.0,OH

In [6]:

df.value_counts()

Unnamed: 0.1  Unnamed: 0  Job Title       Rating  Company Name                           Location              Size                    Founded  Type of ownership  Industry                               Sector                     Revenue                    Min_Salary  Max_Salary  Average_Salary  State
0             0           data scientist  3.5     Hopper\n3.5                            New York, NY          501 to 1000 employees    2007    Company - Private  Travel Agencies                        Travel & Tourism           Unknown / Non-Applicable   111         181         146.0           NY       1
3651          3672        analyst         4.8     System Soft Technologies\n4.8          Fort Worth, TX        201 to 500 employees     1999    Company - Private  IT Services                            Information Technology     $50 to $100 million (USD)  47          84          65.5            TX       1
3658          3679        analyst         4.8     System Soft Technologies\n4.8          Fort Worth, TX        201 to 500 employees     1999    Company - Private  IT Services                            Information Technology     $50 to $100 million (USD)  39          71          55.0            TX       1
3657          3678        analyst         3.5     L&T Infotech\n3.5                      Irving, TX            10000+ employees         1997    Company - Public   IT Services                            Information Technology     Unknown / Non-Applicable   39          71          55.0            TX       1
3656          3677        data engineer   4.7     Quadrant, Inc.\n4.7                    Fort Worth, TX        501 to 1000 employees    2002    Company - Private  Staffing & Outsourcing                 Business Services          $25 to $50 million (USD)   39          71          55.0            TX       1
                                                                                                                                                                                                                                                                                                                ..
1829          1839        other           4.0     Profound\n4.0                          Philadelphia, PA      1 to 50 employees       -1       Company - Private  -1                                     -1                         Unknown / Non-Applicable   71          122         96.5            PA       1
1828          1838        other           3.6     Inovio Pharmaceuticals\n3.6            Plymouth Meeting, PA  201 to 500 employees    -1       Company - Public   Biotech & Pharmaceuticals              Biotech & Pharmaceuticals  $25 to $50 million (USD)   71          122         96.5            PA       1
1827          1837        analyst         4.3     Freedom Mortgage\n4.3                  Mount Laurel, NJ      1001 to 5000 employees   1990    Company - Private  Investment Banking & Asset Management  Finance                    $1 to $2 billion (USD)     71          122         96.5            NJ       1
1826          1836        other           4.0     CTI Clinical Trial Services, Inc\n4.0  Philadelphia, PA      501 to 1000 employees    1999    Company - Private  Health Care Services & Hospitals       Health Care                Unknown / Non-Applicable   71          122         96.5            PA       1
5499          5887        analyst         3.6     Hose Master\n3.6                       Euclid, OH            201 to 500 Employees     1982    Company - Private  Electrical & Electronic Manufacturing  Manufacturing              Unknown / Non-Applicable   42          76          59.0            OH       1
Name: count, Length: 4891, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4891 entries, 0 to 4890
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       4891 non-null   int64
 1   Unnamed: 0         4891 non-null   int64
 2   Job Title          4891 non-null   object
 3   Rating             4891 non-null   float64
 4   Company Name       4891 non-null   object
 5   Location           4891 non-null   object
 6   Size               4891 non-null   object
 7   Founded            4891 non-null   int64
 8   Type of ownership  4891 non-null   object
 9   Industry           4891 non-null   object
 10  Sector             4891 non-null   object
 11  Revenue            4891 non-null   object
 12  Min_Salary         4891 non-null   int64
 13  Max_Salary         4891 non-null   int64
 14  Average_Salary     4891 non-null   float64
 15  State              4891 non-null   object
dtypes: float64(2), int64(5), object(9)
memory usage: 611.5+ KB

In [8]:
df.drop(columns='Unnamed: 0.1', inplace= True)

In [9]:
df.drop(columns='Unnamed: 0', inplace= True)

In [10]:
df

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Min_Salary,Max_Salary,Average_Salary,State
0,data scientist,3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,111,181,146.0,NY
1,data scientist,4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,111,181,146.0,NY
2,analyst,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,111,181,146.0,NJ
3,data scientist,3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,111,181,146.0,NY
4,data scientist,2.9,IFG Companies\n2.9,"New York, NY",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,111,181,146.0,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4886,other,3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),38,64,51.0,OH
4887,other,4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable,47,89,68.0,OH
4888,other,4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,66,113,89.5,OH
4889,analyst,4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),67,111,89.0,OH
4890,analyst,3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable,42,76,59.0,OH

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4891 entries, 0 to 4890
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          4891 non-null   object
 1   Rating             4891 non-null   float64
 2   Company Name       4891 non-null   object
 3   Location           4891 non-null   object
 4   Size               4891 non-null   object
 5   Founded            4891 non-null   int64
 6   Type of ownership  4891 non-null   object
 7   Industry           4891 non-null   object
 8   Sector             4891 non-null   object
 9   Revenue            4891 non-null   object
 10  Min_Salary         4891 non-null   int64
 11  Max_Salary         4891 non-null   int64
 12  Average_Salary     4891 non-null   float64
 13  State              4891 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 535.1+ KB